@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    outline: 0; border: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 70px;
    background: #fff;
    min-height: 100vh;
}

.container form {
    width: 500px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.container form .input-box {
    padding: 30px;
    background: rgb(189, 250, 247);
}

.container form .input-box .title {
    font-size: 30px;
    padding-bottom: 15px;
    color: #222;
}

.container form .input-box .input {
    margin: 15px auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container form .input-box .input input {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    text-transform: none;
    border-radius: 5px;
}

.container form .input-box .input span {
    color: #999;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 20px;
}

.container form .checkbox {
    text-align: left;
    padding: 10px 0;
}

.container form .checkbox label {
    font-size: 17px;
    color: #333;
    cursor: pointer;
}


.container form .link {
    background: #fff;
    padding: 30px 15px;
}

.container form .link .title {
    font-size: 16px;
    padding-bottom: 15px;
    color: #222;
}

.container form .link .buttons .btn {
    font-size: 17px;
    margin: 5px;
    display: inline-flex;
    padding: 10px 20px;
    background: #999;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #444;
}

.container form .link .buttons span {
    font-size: 17px;
    padding-left: 10px;
}

.container form .link .buttons .btn i {
    color: #fff;
    padding-right: 5px;
}

.container form .link .buttons .btn:hover{
    color: #fff;
    background: rgb(116, 240, 234);
}

.container form .link .buttons .btn:hover i{
    color: #fff;
}

.container form .sign-in-btn {
    padding: 8px 40px;
    margin-top: 10px;
    font-size: 17px;
    color: #fff;
    background: #999;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}

.container form .sign-in-btn:hover {
    color: #fff;
    background: rgb(116, 240, 234);
}